        *{
            margin: 0;
            padding: 0;
            font: 1em sans-serif;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
        }
        .container{
            width: 400px;
            height: 400px;
            background-color: #ccc;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 3%;
        }
        #restartScreen{
            display: none;
            opacity: 0;
            position: absolute;
            right: 440px;
            width: 400px;
            height: 400px;
            background-color: rgba(0, 0, 0, 0);  
            backdrop-filter: blur(5px);
            border-radius: 3%;
            transition: opacity 5s ease-in;
        }
        #rSestartScreen.active{
            display: block;
            opacity: 1;
        }
       h2{
        font-size: 20px;
        font-weight: 600;
       }

    li{
        list-style: none;

    }
    button{
        width: 100px;
        height: 30px;
        background-color: rgb(242, 23, 242);
        outline: none;
        border: none;
        border-radius: 10px;
    }
    input{
        width: 250px;
        height: 40px;
        border-radius: 10px;
        border: none;
    }    
    #restart{
        position: absolute;
        top: 50%;
        right: 50%;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
    }