*{
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: yellow;
    border-radius: 3%;
    box-shadow: 0 0 10px 0 rgba(0,0,0
    ,0.5);
    overflow: hidden;
    padding: auto;
}