@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
    --primary-color: #FFD700;
    --secondary-color: #00E1FF;
    --background-color: #3C1361;
    --text-color: #FFFFFF;
    --highlight-color: #003BFF;
    --transition-speed: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    overflow-x: hidden;
    line-height: 1.6;
    transition: background-color 0.5s ease;
}

html {
    scroll-behavior: smooth;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0; 
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: background-color var(--transition-speed), transform 0.5s ease;
}

.navigation:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(2px);
}

ul {
    display: flex;
    gap: 2rem;
}

ul li {
    list-style: none;
    padding: 0.5rem;
    border-radius: 10px;
    transition: background-color var(--transition-speed), color var(--transition-speed), transform 0.3s ease;
    cursor: pointer;
}

ul li a {
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
}

ul li:hover,
ul li:focus {
    background-color: var(--secondary-color);
    color: var(--background-color);
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 225, 255, 0.5);
    outline: none;
}

button {
    padding: 0.8rem 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    color: var(--highlight-color);
    transition: background-color var(--transition-speed), transform var(--transition-speed), box-shadow var(--transition-speed);
}

button:hover,
button:focus {
    background-color: var(--secondary-color);
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 225, 255, 0.4);
}

.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 5rem 2rem;
    min-height: 100vh;
    gap: 1rem;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--text-color);
}

.info h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    animation: fadeInDown 1s ease-in;
}

.info button {
    padding: 1rem;
    font-size: 1rem;
}

.info .contact {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.info .portfolio {
    background: transparent;
    border: 4px solid var(--text-color);
    color: var(--text-color);
}

.info .contact:hover,
.info .portfolio:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 225, 255, 0.5);
}

.services-section {
    padding: 4rem 2rem;
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
    animation: fadeInUp 1s ease-in;
    height: 100vh;
}

.services-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
    animation: popIn 0.8s ease-in-out;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.service-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    width: 280px;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 225, 255, 0.2);
}

.services {
    display: flex;
    gap: 1rem;
}

.contact-section {
    padding: 2rem 4rem;
    background-color: var(--background-color);
    gap: 2rem;
    opacity: 0;
    animation: fadeInUp 1.5s forwards;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.contact-heading {
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
    animation: popIn 1s ease-in-out;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 2rem;
}

.contact-form input,
.contact-form textarea {
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--text-color);
    transition: border-color var(--transition-speed);
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--secondary-color);
}

.contact-form button {
    padding: 1rem 2rem;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.contact-form button:hover,
.contact-form button:focus {
    background-color: var(--secondary-color);
    transform: translateY(-5px);
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background: var(--highlight-color);
    border-radius: 10px;
}

.contact-info a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color var(--transition-speed);
}

.contact-info p {
    padding: 1rem;
    border: 2px solid #00E1FF;
}

.contact-info a:hover {
    color: var(--secondary-color);
}

.portfolio-section {
    height: 100vh;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.project-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    width: 280px;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.project-item img{
    width: 250px;
    height: auto;
    object-fit: cover;
}
@media (max-width: 460px) {
    .homepage {
        grid-template-columns: 1fr;
        padding: 2rem 0.3rem;
    }
    .info{
        align-items: center;
    }
    .info h2{
        text-align: center;
        font-size: 2.5rem;
    }
    p{
        text-align: center;
        font-size: 1.4rem;
    }
    .navigation {
        display: flex;
        gap: 3rem;
        justify-content: space-around;
        width: 100%;
        background-color: transparent;
    }

    }
    .contact-section {
        flex-direction: column;
        padding: 1rem 1rem
    }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}