*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #487df9;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.noteBox{
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px solid #487df9;
    margin: 10px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    margin-top: 90px;
    transition: transform 0.3s ease-in-out;
}
.noteBox:hover{
    transform: scale(1.05);
}
.title{
    font-size: 24px;
    text-align: center;
}
h2{
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
}
h1{
    color: white;
    margin-top: 20px;
}
.fa-plus{
    font-size: 56px;
    cursor: pointer;
}
.addButton{
    height: 100px;
    width: 100px;
    border: 3px dashed;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
}
.addButton:hover{
    background-color: #487df9;
    color: white;
}
#inputform{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    font: 1em sans-serif;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}
#title{
    width: 200px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px; 
}
#add{
    width: 100px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #487df9;
    cursor: pointer;
}
#content{
    height: 180px;
    width: 240px;
    border: 2px solid rgb(126, 122, 122);
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    font: 1em sans-serif;
}
.closeBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: white;
    border-radius: 50%;
    background-color: red;
    border: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    text-align: center;
}
.note{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid #487df9;
    margin: 10px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    gap: 20px;
    overflow-y: auto;
    text-overflow: ellipsis;
    word-break: break-word;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.note:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
#note-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


